body {
    background-color: dimgray;
}

#mySVG,
#holesSVG {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.holes {
    position: absolute;
    background-color: rgb(84, 93, 139);
    border: 2ps solid blue;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.showScore,
.start {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
    text-align: center;
}

#ver,
#time {
    color: white;
}

#time,
#start {
    text-align: center;
    font-size: 55px;
}

#ver,
#start {
    margin-top: 40vh;
    justify-content: center;
    text-align: center;
    font-size: 60px;
}

.visible {
    display: block;
}