#mySVG,
#holesSVG {
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.holes {
    position: absolute;
    background-color: rgb(84, 93, 139);
    border: 2ps solid blue;
    height: 70px;
    width: 70px;
    border-radius: 50%;
}